---
title: Megha Kulshreshtha
---

<div class="welcome">
	<img id="homeprofile" src = "/images/sankalpkulshreshtha.jpeg"></img>
	<p>Hi! Thanks for visiting.</p>

	<p>I'm a Data Management Analyst at Aberdeen Asset Management in downtown Philadelphia.  I'm interested in data workflow, project management, business systems solutions, and corporate responsibility.</p>

	<p>Currently, I am pursuing my CAPM in project management, researching better business approaches to meet 21st century demands, and participating in any events and/or volunteer opportunities that peek my interest!</p>

	<p><a id="letsconnect" >Let's connect</a>.</p>
	<p>-Megha Kulshreshtha</p>
</div><!-- welcome -->

<div id="connect" class="sidebar">
	<div id="connectHide">hide</div>
	<h1>Connect</h1>

	<ul>
		<li>Want to talk, grab coffee, bounce ideas back and forth? Passionate about better business solutions?
			<ul>
				<li><a href="http://www.google.com/recaptcha/mailhide/d?k=01xvUNLN-bPZt-yX7kVhUEJQ==&amp;c=-hYLwx90DbzIvoqgMveaaTFuzdxDhikw75IbAcv-nkk=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501xvUNLN-bPZt-yX7kVhUEJQ\75\75\46c\75-hYLwx90DbzIvoqgMveaaTFuzdxDhikw75IbAcv-nkk\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Email</a></li>
			</ul>
		</li>
		<li>Want to hear about what I'm learning and what I'm doing?</li>
			<ul>
				<li><a href="https://plus.google.com/110277730109717623226/about">Google+</a></li>
				<li><a href="http://www.quora.com/Megha-Kulshreshtha">Quora</a></li>
				<li><a href="https://twitter.com/mkulsh01">Twitter</a></li>
			</ul>
		</li>
	</ul>
</div><!-- connect -->